body {
  padding-top: 40px;
}

img {
  width: 100%;
}

.footer-container {
  margin-top: 70px;
}

.ns-copyright,
.item.noodlesoup.header {
  background-image: url(img/background.png) !important;
}

.noodlesoup.username {
  color: #f2711c;
}

.noodlesoup.username:before {
  content: "\00a0";
}

.noodlesoup.username:after {
  color: #fff;
  content: "!";
}

.noodlesoup.about.description {
  text-align: center;
}
