template(name="staticAbout")
  .sixteen.wide.column
    h1.ui.center.aligned.icon.header
      i.users.icon
      .content
        | Hey, we're Noodlesoup!
        .sub.header
          | We are a creative bunch of people, really.
    .ui.four.column.stackable.grid.container
      each users
        .column
          img.ui.centered.small.circular.image(src="{{getGravatarUrl emails}}")
          .ui.centered.header #{username}
              .sub.header #{profile.realname}
          .noodlesoup.about.description #{profile.bio}
