template(name="404")
  .sixteen.wide.column
    h1.ui.center.aligned.icon.header
      i.warning.circle.icon
      .content
        | Senpai.. an error occured. ヽ(´□｀。)ﾉ
        .sub.header
          | The page or resource you requested does not exist.. #[i n-not that I like you or anything b-baka.]