template(name="layoutHeader")
  .ui.fixed.green.inverted.menu
    a.header.item(href="/") Noodlesoup
    .right.menu
      if currentUser
        .item Ohayou, #{currentUser.username}!
        a.item(href="/write/new") New post
        a.item(href="/logout") Logout
