template(name="layoutHeader")
  .ui.fixed.inverted.menu.ns-main-menu
    .right.menu
      .item Ohayou, #{currentUser.username}!
      a.item(href="/write/new") New post
      a.item(href="/logout") Logout
