template(name="layoutHeader")
  .ui.fixed.inverted.large.black.menu
    .ui.page.container
      a.item.noodlesoup.header(href="/") noodlesoup
      if currentUser
        .right.menu
          .borderless.item Ohayou, 
            .noodlesoup.username #{currentUser.username}
          a.item(href="/write/new") New post
          a.item(href="/user") Settings
          a.item(href="/logout") Logout
