template(name="layoutHeader")
  .ui.fixed.green.inverted.menu
    .right.menu
      .item Ohayou, #{currentUser.username}!
      a.item(href="/write/new") New post
      a.item(href="/logout") Logout
