.ui.container
  center
    img(src="img/Noodlesoup-Logo-Final-Black.png" width="200" height="200").ui.image
    h1 We're launching like, really soon.
    p Stay notified and #[a(href="https://twitter.com/intent/tweet?text=Noodlesoup%20is%20launching%20soon%21%20Spread%20the%20hype%3A%20http%3A//noodlesoup.moe%20@noodlesoup_moe&") tell your friends]!