template(name="postLatest")
  .sixteen.wide.column
    .ui.divided.items
      each posts
        +postListOne
    .ui.piled.segment
      h1.ui.header Welcome to Noodlesoup!
      p.
        Tower film concrete free-market order-flow engine 3D-printed shrine. Military-grade fluidity dome chrome tattoo range-rover long-chain hydrocarbons numinous beef noodles realism tanto market engine table courier bicycle sentient. Concrete math-man bomb drone table beef noodles skyscraper urban pre-plastic Legba singularity. Wristwatch courier military-grade tank-traps shanty town footage neon film j-pop. 