template(name="postLatestOne")
  a.item(href="/p/#{slug}")
    .content
      .header #{title}
      //- really weird, why do i have to use spacebars syntax here?
      .description {{trimBody body}} 
      .extra
        a.ui.right.floated.red.tag.label(href="/t/#{tag}") #{tag}
