template(name="postNew")
  .sixteen.wide.column
    h1 New Post
    +autoForm collection="Posts" id="insertPostForm" type="insert" template="semanticUI"
      +afQuickField name="title" placeholder="My Great Post About Birds"
      +afQuickField name="disclaimer" rows=3 placeholder="Please, only use this in situations where it is appropriate"
      +afQuickField name="summary" rows=2 placeholder="This article explains why birds are great!"
      +afQuickField name="body" rows=7 placeholder="Here is why Birds are the best animals ever:"
      +afQuickField name="tag" placeholder="e.g. anime"
      .ui.icon.message
        i.warning.icon
        .content.
          Please do not create a new tag. Instead, <a href="/write/tags">look at our list of tags</a> and see which one
          best applies to your post.
      button(type="submit").ui.button.primary Submit