template(name="postTag")
  .sixteen.wide.column
    h1 Browsing #{tag_name}
    .ui.divided.items
      each posts
        +postListOne
      +if hasMore
        button.ui.red.button.ns.loadmore Load more