.sixteen.wide.column
  if isEpisodeReview
    .ui.large.secondary.menu
      a.item(href="/") Latest
      a.active.item(href="/reviews") Reviews
  else
    h1 Browsing #{tag_name}   
  .ui.divided.items
    each posts
      +postListOne
    +if hasMore
      button.ui.red.button.ns.loadmore Load more