$color: #E2443D;
$speed: 1s;
$ease: cubic-bezier(0.730, -0.600, 0.465, 1.640);
$stroke: 3vmin;
$ripples: 4;
$alpha: 0.2;
$size: 20vmin;

body {
  padding-top: 40px;
}

img {
  max-width: 100%;
}

.post-info {
  float:right;
  font-size: 18px;
}

.footer-container {
  margin-top: 70px;
}

.ns-copyright,
.item.noodlesoup.header {
  background-image: url(img/background.png) !important;
}

.ns-copyright {
  background-size: cover;
}

.noodlesoup.username {
  color: #f2711c !important;
}

.noodlesoup.username:before {
  content: "\00a0";
}

.noodlesoup.username:after {
  color: #fff;
  content: "!";
}

.noodlesoup.about.description {
  text-align: center;
}

.epic {
  margin-bottom: 20px;
  margin-top: 20px;
}

.ns.post {
  h1,
  h2 {
    font-weight: 500;
  }
  p {
    font-size: 20px;
  }
  hr {
    border: 0;
    border-top: 1px solid lightgray;
  }
}

.ns.pulsating {
  position: absolute;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  height: $size;
  width: $size;
  margin: $size / -2;
  border-radius: 100%;
  background: $color;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: pulsating $speed $ease infinite;
}

.twitter-blue {
  background-color: #55ACEE !important;
  color: #FFF;
}

.twitter-blue:hover {
  color: #FFF;
}

.green {
  background-color: #21BA45 !important;
  color: #FFF;
}

.green:hover {
  color: #FFF;
}

.twitter-blue.column {
  margin-top: -1rem !important;
  margin-bottom: -1rem !important;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@keyframes pulsating {
$from: ();
$to: ();
  @for $i from 0 to $ripples {
    @if $i < $ripples - 1 {
      $shadow: 0 0 0 ($i * $stroke) rgba($color, $alpha);
      $from: append($from, $shadow, comma);
      $shadow: 0 0 0 (($i + 1) * $stroke) rgba($color, $alpha);
      $to: append($to, $shadow, comma);
    }

    @else if $i == $ripples - 1 {
      $shadow: 0 0 0 ($i * $stroke) rgba($color, $alpha);
      $from: append($from, $shadow, comma);
      $shadow: 0 0 0 (($i + 1) * $stroke) rgba($color, 0);
      $to: append($to, $shadow, comma);
    }
  }

  0% {
    box-shadow: $from;
  }

  100% {
    box-shadow: $to;
  }
}

#wrap {
  min-height: 100%;
  position: relative;
}

#wrap:last-child {
  padding-bottom: 40px;
}

.footer-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
