.sixteen.wide.column
  h1 Draft a new post
  +autoForm collection="Posts" id="insertPostForm" type="insert" template="semanticUI"
    +afQuickField name="title" placeholder="My Great Post About Birds"
    +afQuickField name="thumbnail" placeholder="http://imgur.com/BiRd5"
    +afQuickField name="disclaimer" rows=3 placeholder="Please, only use this in situations where it is appropriate"
    .ui.info.icon.message
      i.question.icon
      .content
        .header Where's my post content?
        | You will be able to edit your post once it's drafted.
    +afQuickField name="tag" type="select" options=tags search=true
    button(type="submit").ui.button.primary Submit