.sixteen.wide.column
  h1 Edit "#{title}"
  +autoForm collection="Posts" id="updatePostForm" type="update" doc=getDoc template="semanticUI"
    +afQuickField name="title"
    +afQuickField name="thumbnail"
    +afQuickField name="summary" rows=2
    +epic getDoc.body
    +afQuickField name="tag" type="select" options=tags search=true
    button(type="submit").ui.button.primary Submit