.sixteen.wide.column
  h1 New Post
  +autoForm collection="Posts" id="insertPostForm" type="insert" template="semanticUI"
    +afQuickField name="title" placeholder="My Great Post About Birds"
    +afQuickField name="thumbnail" placeholder="http://imgur.com/BiRd5"
    +afQuickField name="disclaimer" rows=3 placeholder="Please, only use this in situations where it is appropriate"
    +afQuickField name="summary" rows=2 placeholder="This article explains why birds are great!"
    .ui.message
      p Be sure you checked our #[a(href="/write/guidelines" target="_blank") Guidelines] before writing your post. (Opens in a new tab)
    +epic 'Write your post here! You can use _Markdown_.'
    +afQuickField name="tag" type="select" options=tags search=true
    button(type="submit").ui.button.primary Submit