.sixteen.wide.column
  if isEpisodeReview
    .ui.large.secondary.menu
      a.item(href="/") Latest
      a.active.item(href="/reviews") Reviews
      a.item(href="/spotlights") Spotlights 
  else if isSpotlight
    .ui.large.secondary.menu
      a.item(href="/") Latest
      a.item(href="/reviews") Reviews
      a.active.item(href="/spotlights") Spotlights
  else
    h1 Browsing #{tag_name}
  .ui.divided.items
    if thereArePosts
      each posts
        +postListOne
      +if hasMore
        button.ui.red.button.ns.loadmore Load more
    else
      .ui.icon.message
        i.frown.icon
        .content
          .header No content!
          p Nothing here but us chickens!