.sixteen.wide.column
    p.ns.post
      +markdown
        # Noodlesoup guidelines <small style="color: lightgray;">for writers</small>
        As a writer for Noodlesoup, it is required that you read carefully these guidelines and respect them with full precision.

        ## 1. Concerning our ethics
        ### 1.1 Disclaimers
        The first thing you need to take care of before sending anything to review is to put a relevant disclaimer which specifies if you had any relation with anyone working on the product you are reviewing / writing about. It can be done through the related area between the title and the content area on the editor.

        ### 1.2 Your name
        The name you will use to write on the website can either be a real name or a pen name, but always be sure to use the one you're also using on social medias and other websites you write for; in order for people to be able to check what you write on other websites. Your Twitter @username will be displayed on every article you write.

        ### 1.3 Representing us
        As a writer for Noodlesoup, you represent the website and all of its working team on social networks and online forums, therefore anything you say can be used to promote or relegate the reputation of the website. You are asked not to use offensive words or pictures and keep a professional attitude in regard of Internet conflicts, not doing so will only increase your chances of getting removed from Noodlesoup and all of its network.

        ## 2. How to write a good article
        ### 2.1 The basics
        Noodlesoup's writers aren't journalists, they are bloggers, therefore when writing an article they must express their honest opinions on the topic. Support your opinions with facts, read your posts as if you just happened to discover the website and be careful with your usage of sensitive words.

        ### 2.2 Every topic is a good topic
        I understand you would prefer to write for topics or anime you like the most, but remember that you must be also show objectivity on the paper; point out the flaws in your favorite anime, write about what's interesting in the anime you hate the most, etc. 

        ### 2.3 Take notes
        This one is for review writers. If you're watching an episode to make a review right after, be sure to take as much notes as possible, to rewatch certain parts; always be aware of what's happening in the episode in order to never miss a thing.

        