.footer-container
  .ui.equal.width.center.aligned.bottom.grid
    .row
      .black.column.ns-copyright 
        &copy; Noodlesoup 2015. Made with #[i.heart.icon] by #[a(href='http://ix.crr.io' style='color: lightgray') ix].
