.footer-container
  .ui.equal.width.center.aligned.bottom.grid
    .row
      a.twitter-blue.column(href="http://twitter.com/noodlesoup_moe") Twitter
      a.green.column(href="/about") About
    .row
      .black.column.ns-copyright 
        &copy; Noodlesoup 2015. Made with #[i.heart.icon]by the Noodlesoup team.