.ui.fixed.inverted.large.black.menu
  .ui.page.container
    a.item.noodlesoup.header(href="/")
      img(src="/img/noodlesoup-logo-final-white.png")
    if currentUser
      .right.menu
        .borderless.item Ohayou, 
          a.noodlesoup.username(href="/a/#{currentUser.username}") #{currentUser.username}
        if isInRole 'writer'
          a.item(href="/write/new") New post
          a.item(href="/write/drafts") Your Drafts
        
        if isInRole 'pr'
          a.item(href="/write/drafts") Drafts
        a.item(href="/settings/general") Settings
        a.item(href="/logout") Logout
    else
      .right.menu
        a.twitter-blue.item(href="https://twitter.com/noodlesoup_moe") #[i.twitter.icon] Twitter
        a.green.item(href="/about") #[i.info.icon] About