#wrap
  +headerLayout
  .ui.grid.container
    .row
      .sixteen.wide.column
        .ui.negative.icon.message
          i.announcement.icon
          .content
            .header Heads up!
            p Noodlesoup is going to change in the next weeks.
    +yield
  +footerLayout